<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <stats number="{{customers}}" goto="leads.customers" comments="Customers" colour="yellow" type="user"></stats>
        <stats number="{{leads}}" goto="leads.manage-leads" comments="New Leads" colour="primary" type="file-text"></stats>
        <!--<stats number="12" goto="booking.list" comments="Booking" colour="primary" type="calendar"></stats>
        <stats number="24" goto="booking.conversions" comments="Conversions" colour="green" type="retweet"></stats>
        <stats number="124530" goto="" comments="Amount" colour="green" type="inr"></stats>-->
    </div>
</div>
