<div>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top ">
        <div class="navbar-header pull-xs-left">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
                aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>
            <div class="d-inline-block">
                <img style="width:30px;" src="images/logo.png" />
            </div>
            <div class="d-inline-block  ">ERP</div>
        </div>
        <header-notification></header-notification>
    </nav>
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                </div>
                <div class="modal-body">
                    <form name="login">
                        <div class="form-group">
                            <label for="oldPassword">Old Password</label>
                            <input type="password" name="oldPassword" class="form-control" id="oldPassword" required ng-model="pass.oldpassword" />
                            <span class="alert alert-warning" role="alert" ng-show="login.oldPassword.$error.required && login.oldPassword.$dirty">required</span>
                        </div>
                        <div class="form-group pos-r">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" name="newPassword" id="newPassword" ng-minlength="5" ng-maxlength="15" ng-pattern="/^(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/"
                                required ng-model="pass.newpassword" />
                            <div class="error-msg">
                                <span ng-show="login.newPassword.$error.required && login.newPassword.$dirty">required</span>
                                <span class="alert alert-danger" role="alert" ng-show="!login.newPassword.$error.minLength && !login.newPassword.$error.maxLength && login.newPassword.$error.pattern && login.newPassword.$dirty">
                                    Must contain letters,numbers  &amp; special character.
                                </span>
                            </div>
                        </div>
                        <div class="form-group pos-r">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                required ng-model="pass.confirmpassword" />
                            <div class="error-msg">
                                <span class="alert alert-danger" role="alert" ng-show="passwordNotMatch">Passwords do not match.</span>
                            </div>
                            <div class="error-msg">
                                <span class="alert alert-danger" role="alert" ng-show="!passwordNotMatch && old_new">New password not be same as old.</span>
                            </div>
                            <small class="form-text text-muted">The password must: 
                                <ul>
                                    <li>Be at least eight (8) characters but no more than fifteen (15) characters.</li>
                                    <li>Contain at least one alpha character (a-z; A-Z).</li>
                                    <li>Contain at least one numeric (0-9).</li>
                                    <li>Contain at least one special character. For example: @&%”.</li>
                                </ul>
                            </small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="passwordValidate(pass)" ng-click="changePassword(pass)" data-dismiss="modal">Change</button>
                </div>
            </div>
        </div>
    </div>
</div>