<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Booking Details</h3>
    </div>
    <div class="modal-body">
        <div data-form-builder="BookingDetail.promise" mode="half" class="clearfix"></div>
    </div>
    <div class="text-center modal-body">
        <button class="btn btn-icon btn-success buttonBg" ng-disabled="!bookingButton" ng-click="updateBooking()">
            <h2 class="f30 buttonM"><i></i>Update</h2>
        </button>
    </div>
</script>
<div>
    <div class="clearfix">
        <div class="col-md-8">
            <h5 class="text-primary">{{conversionData.erp_destinations}} Of {{conversionData.erp_customer.erp_name}} From {{conversionData.erp_customer.erp_city}}</h5>
        </div>
        <div ng-if="isAdmin()" class="col-md-4 m-t40 text-right">
            <button class="btn-success btn" ng-click="editBooking(conversionData)">Edit Booking</button>
        </div>
    </div>
    <div class="row item" >
        <div class="col-md-6 bor-r">
            <div class="row">
                <div class="col-md-4">
                    <b class="d-block">Arrival</b>
                    <span>{{conversionData.erp_departureDate}}</span>
                </div>
                <div class="col-md-4">
                    <b class="d-block">Duration</b>
                    <span>{{conversionData.erp_nights}} Nights</span>
                </div>
                <div class="col-md-4">
                    <b class="d-block">Rooms</b>
                    <span>{{conversionData.erp_roomCount}}</span>
                </div>
            </div>
            <div class="m-y-1">
                <b>People: </b>
                <span>{{conversionData.erp_adultCount}} Adults, {{conversionData.erp_kidsCount}} kid</span>
            </div>
            <div>
                <div class="col-md-6 tripcol pZero">
                    <b class="d-block"><i class="fa fa-plane"></i> Pickup</b>
                    <h5 class="text-warning">{{conversionData.erp_pickupLocation}} ------</h5>
                </div>
                <div class="col-md-6 tripcol">
                    <b class="d-block"><i class="fa fa-map-marker"></i> Drop</b>
                    <h5 class="text-warning">---------- {{conversionData.erp_dropLocation}}</h5>
                </div>
                <div class="col-md-12 pZero">
                    <textarea  readonly class="m-t20 d-block w-100" rows="4">inclusions {{conversionData.erp_inclusions}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="isAdmin()">
            <div  class="sold text-right"></div>
            <div class="col-md-12 black-bor pZero" >
                <div ng-repeat ="(key, value) in conversionData.erp_costBreakup">
                    <div ng-if="key == 'Sold Cost'">
                        <b>Sold Cost</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>{{value}}&nbsp;/-</b>
                    </div>
                </div>
            </div>
            <div class="col-md-12 black-bor pZero" >
                <div ng-repeat ="(key, value) in conversionData.erp_costBreakup">
                    <div class="col-md-6 text-left m-t10">{{key}}</div>
                    <div class="col-md-6 text-right m-t10 pZero">{{value}}&nbsp;/-</div>
                </div>
            </div>
            <div class="col-md-12 pZero">
                <div class="col-md-12 black-bor pZero" >
                    <div ng-repeat ="(key, value) in conversionData.erp_costBreakup">
                        <div ng-if="key == 'Total Cost Price'">
                            <div class="col-md-6 text-left m-t10 book">
                                <b>Total Cost Price</b>
                            </div>
                            <div class="col-md-6 text-right m-t10 book pZero">
                                <b>{{value}}&nbsp;/-</b>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 m-t-1">
        <h5 class="black-bor p-b-1">HOTEL DETAILS</h5>
    </div>

    <div class="col-sm-12" data-erp-hotel-detail ="conversionData.erp_hotelBookings"></div>

    <div class="col-sm-12 m-t-1">
        <h5 class="black-bor p-b-1">EXCLUSIONS</h5>
    </div>
    <div class="col-sm-12 m-t-1">
        <P>{{conversionData.erp_exclusions}}</P>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>