<div>
    <div class="row black-bor">
        <div class="col-md-8 m-t20 fontcol">
            <h2>{{conversionData.erp_destinations}} Retreat Of {{conversionData.erp_customer.erp_name}} From {{conversionData.erp_customer.erp_city}}</h2>
        </div>
        <div class="col-md-4 m-t40 text-right">
            <button class="btn-success btn">Open Lead</button>
        </div>
    </div>
    <div class="row item" >
        <div class="col-md-6 m-t20 bor-r">
            <div class="col-md-4">
                <h5>Arrival</h5><h3>{{conversionData.erp_departureDate}}</h3>
            </div>
            <div class="col-md-4">
                <h5>Duration</h5><h3>{{conversionData.erp_nights}}</h3>
            </div>
            <div class="col-md-4">
                <h5>Rooms</h5><h3>{{conversionData.erp_roomCount}}</h3>
            </div>
            <div class="book m-t40 col-md-12">
                <h5>People: <b>{{conversionData.erp_adultCount}} Adults, {{conversionData.erp_kidsCount}} kid</b></h5>
            </div>
            <div class="col-md-12 m-t40">
                <div class="col-md-6 tripcol pZero">
                    <h5>Pickup</h5><h3>{{conversionData.erp_pickupLocation}} ------</h3>
                </div>
                <div class="col-md-6 tripcol">
                    <h5>Drop</h5><h3>---------- {{conversionData.erp_dropLocation}}</h3>
                </div>
                <div class="col-md-12 pZero">
                    <textarea  readonly class="m-t20 txtArea forside" rows="4">inclusions {{conversionData.erp_inclusions}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div  class="sold text-right">
                <h5>Sold Cost</h5><b>{{conversionData.erp_costBreakup.soldCost}}&nbsp;/-</b>
            </div>
            <div class="col-md-12 black-bor pZero" >
                <div ng-repeat ="_conversionData in conversionData.cost">
                    <div class="col-md-6 text-left m-t10">{{_conversionData.label}}</div>
                    <div class="col-md-6 text-right m-t10 pZero">{{_conversionData.value}}&nbsp;/-</div>
                </div>
            </div>
            <div class="col-md-12 pZero">
                <div class="col-md-6 text-left m-t10 book">
                    <b>Total Cost Price</b>
                </div>
                <div class="col-md-6 text-right m-t10 book pZero">
                    <b>{{conversionData.totlCost}}&nbsp;/-</b>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t40 black-bor">
        <h2>HOTEL DETAILS</h2>
    </div>

    <div data-erp-hotel-detail ="conversionData.erp_hotelBookings"></div>

    <div class="m-t40 black-bor">
        <h2>EXCLUSIONS</h2>
    </div>
    <div class="m-t20">
        <P>{{conversionData.erp_exclusions}}</P>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>