<div class="clearfix m-b-1">
    <h3 class="col-sm-4 m0">Arrivals</h3>
    <div class="pull-sm-right">
        <button ng-click="arrivalsFilter()" class="btn btn-success">Go</button>
    </div>
    <div class="col-sm-7" erp-date-range-picker="Date"></div>

</div>
<div class="_font-Segoe">
    <span class="tag tag-primary" ng-click="Filter('Confirmed by Traveler')">Confirmed by Traveler</span>
    <span class="tag tag-primary" ng-click="Filter('Token Amount Received')">Token Amount Received</span>
    <span class="tag tag-primary" ng-click="Filter('Total Amount Received')">Total Amount Received</span>
    <span class="tag tag-primary" ng-click="Filter('Cancelled')">Cancelled Bookings</span>
    <span class="tag tag-primary" ng-click="showAll()">Show All</span>
</div>
<br />
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Are you sure to cancel booking?</h3>
    </div>
    <div class="modal-body">
        <div class="form-groupcol-lg-12">
            <label>Reason</label>
            <textarea class="form-control" placeholder="Give a reason to cancel this booking" ng-model="selected.model"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!selected.model" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="row item _font-Segoe" ng-repeat="item in bookings" ng-class="{'odd' : $even}" ng-if="item.isShow">
        <div class="col-md-9 bor-r">
            <h5 class="text-primary">{{item.erp_customer.erp_name}} Tour to {{item.erp_dropLocation}} on {{item.erp_departureDate}} by : {{item.erp_salesPerson.erp_emp_name}}</h5>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-users"></i> {{item.erp_adultCount}} Adult<span ng-if="item.erp_adultCount">, {{item.erp_kidsCount}} kids</span>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-phone-square"></i> {{item.erp_customer.erp_phoneNo}}
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope-o"></i> {{item.erp_customer.erp_emailId}}
                </div>
                <div class="col-md-4">
                    <i class="fa fa-bed"></i> {{item.erp_roomCount}}
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i> {{item.erp_pickupLocation}}
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i> {{item.erp_dropLocation}}
                </div>
                <div class="col-md-8">
                    <i class="fa fa-building"></i> <span ng-repeat="_item in item.erp_hotelBookings">{{_item.erp_hotelName}}<span ng-if="!$last">, </span></span>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-car"></i> {{item.erp_vehicle}}
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
                <div>
                    <b class="s13">Booked on </b>
                    <span>{{item.erp_createdAt}}</span>
                </div>
                <div ng-if="item.erp_tokenAmount">
                    <b class="s13">Token Amount </b>
                    <span>{{item.erp_tokenAmount}}</span>
                </div>
                <div ng-if="!item.editStatusValue">
                    <b class="s13">Status</b>
                    {{item.erp_bookingStatus}}
                    <i ng-click="editStatus(item)"class="fa fa-edit"></i>
                </div>
                <div class="_bookingStatus row" ng-if="item.editStatusValue">
                    <span data-erp-booking-status="item.bookingStatus" class="col-sm-9"></span>
                    <i ng-click="doneStatus(item)"class="fa fa-check"></i>
                    <i ng-click="cancelStatus(item)"class="fa fa-times"></i>
                </div>
                <div>
                    <b class="s13">Lead ID </b>
                    <a href="#/leads/manage-leads/{{item.erp_leadId}}">{{item.erp_leadId}}</a>
                </div>
                <a class="btn btn-success btn-sm" href="#/booking/manage-booking/{{item.erp_bookingId}}">View</a>
        </div>
</div>
