<div style="position:fixed; height:100%;width: 20%; top:0px">
    <div class="content" style="width: 100%;">
        <div class="navbar-default sidebar navbar-collapse" style="width: 100%">
            <ul class="nav nav-pills nav-stacked" style="width: 100%">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: collapseVar==1}" ng-click="check(1)" ui-sref="leads.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: collapseVar==2}" ng-click="check(2)">
                        <i class="fa fa-wrench fa-fw"></i> Leads
                        <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-show="collapseVar == 2">
                        <li ui-sref-active="active" class="nav-item">
                            <a class="nav-link" ui-sref="leads.add-leads"><i class="fa fa-plus"></i> New Lead</a>
                        </li>
                        <li ui-sref-active="active">
                            <a class="nav-link" ui-sref="leads.all">My Leads</a>
                        </li>
                        <li ui-sref-active="active">
                            <a class="nav-link" ui-sref="leads.customers">My Customers</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active: collapseVar==3}" ng-click="check(3)"><i class="fa fa-check-square-o fa-fw"></i> Bookings<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-show="collapseVar == 3">
                        <li ui-sref-active="active">
                            <a class="nav-link" ui-sref="booking.manage-booking">Bookings List</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" ng-if="showNavigation(['Create_User','Edit_User'])">
                    <a class="nav-link" ng-class="{active: collapseVar==4}" ng-click="check(4)"><i class="fa fa fa-users fa-fw"></i> Employee<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" ng-show="collapseVar == 4">
                        <li ui-sref-active="active">
                            <erp-action name="Create_User" label="Add Employee" css="nav-link" link="employee.add-employee" type="nav"></erp-action>
                        </li>
                        <li ui-sref-active="active">
                            <erp-action name="Edit_User" label="Manage Employees" css="nav-link" link="employee.manage-employee" type="nav"></erp-action>
                        </li>
                        <!--<li ui-sref-active="active">
                            <a class="nav-link" ui-sref="employee.assign-leads">Assign Leads</a>
                        </li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        Make India Journey &copy; 2017<br>All rights reserved
    </div>
</div>