<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add Lead</h1>
    </div>
</div>
<div>
    <div data-form-builder="LeadDetail.promise" class="clearfix"></div>
    <div class="add-leads">
        <h3 class="p10">Customer information</h3>
        <div data-form-builder="CustomerDetail.promise" class="clearfix"></div>
    </div>
    <h3>Additional Detail</h3>
    <div data-form-builder="AdditionalDetail.promise"></div>
    <div class="text-center m-b25">
        <button class="btn btn-icon btn-success buttonBg" ng-click="addLead();"><h2 class="f30 buttonM"><i></i>Add Lead</h2></button>
    </div>
</div>