

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Booking Details</h3>
    </div>
    <div class="modal-body">
        <div data-form-builder="BookingDetail.promise" mode="half" class="clearfix"></div>
    </div>
    <div class="text-center modal-body">
        <button class="btn btn-icon btn-success buttonBg" ng-disabled="!bookingButton" ng-click="addBooking();">
            <h2 class="f30 buttonM"><i></i>Submit</h2>
        </button>
    </div>
</script>


<div class="clearfix m-b-1 col-sm-12">
    <div class="pull-sm-left">
        <h3>Lead Id : {{leadId}}</h3>
    </div>
    <div class="pull-sm-right">
        <div class="page-header b0 col-sm-9" data-erp-select="LeadStatus"></div>
        <div class="page-header b0 col-sm-3">
            <button ng-click="changeStatus()" ng-disabled="LeadStatus.isDisable" class="btn btn-success">Go</button>
        </div>
    </div>
</div>
<div>
    <div class="col-lg-5">
        <div data-lead="Customer"></div>
        <div data-lead="Lead"></div>
        <!--<chat></chat>-->
        <!--<div class="text-left col-lg-12">
            <a class="cursor-p"><i class="fa fa-trash"></i> Delete Lead</a>
        </div>-->
    </div>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-clock-o fa-fw"></i> Activities Timeline
            </div>
            <div class="card-block text-center">
                <button class="btn btn-default btn-sm" type="button" ng-click="openPanel('activity')">
                    <h5 class="m0"><i class="fa fa-file-o"></i>&nbsp;&nbsp;Activity</h5>
                </button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openPanel('attach')">
                    <h5 class="m0"><i class="fa fa-paperclip"></i>&nbsp;&nbsp;Attach</h5>
                </button>
                <button class="btn btn-default btn-sm" type="button" ng-click="openPanel('alert')">
                    <h5 class="m0"><i class="fa fa-bell-o"></i>&nbsp;&nbsp;Alert</h5>
                </button>
            </div>
            <div class="m-x-1 m-b-1">
                <div ng-if="item.activity" class="card ">
                    <div data-erp-note="Activity"></div>
                    <div ng-if="isActivityType">
                        <div data-erp-note="Note"></div>
                    </div>
                    <div style="margin:0 18px 20px;">
                        <button class="btn btn-success" ng-click="addNote()">Add Activity</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
                <div ng-if="item.attach" class="card ">
                    <div data-erp-attach="Attach"></div>
                    <div style="margin:0 18px 20px;">
                        <button class="btn btn-success" ng-click="addAttach()">Add Attach</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
                <div ng-if="item.alert" class="card">
                    <div data-erp-alert="Alert"></div>
                    <div style="margin:0 18px 20px;">
                        <button class="btn btn-success" ng-click="addAlert()">Submit</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="card-block p-t-0" data-erp-timeline="Timeline"></div>
        </div>
    </div>
</div>
